
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.Inline
_Inline
*.bak
*.old
*.swp
*.tmp

/MCE-*
MYMETA.*
Makefile
blib
pm_to_blib

